<div class="panel panel-primary">
  <div class="panel-heading">
    blas
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <h3>Filter by:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>
                  <button class="btn btn-primary">                    Show Image      </button>
                </th>
                <th> Product </th>
                <th> Available </th>
                <th> Code </th>
                <th> Price </th>
                <th> 5 StatRating </th>
                <tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
